<div id="leftMenu" class="sidebar clearfix" style="overflow: auto;" th:fragment="html">

    <ul class="sidebar-panel nav">
        <li><a href="homePage"><span class="icon color5"><i class="fa fa-home"></i></span>控制台</a></li>
<!--        <li><a><span class="icon color8"><i class="fa fa-calendar-o"></i></span>日程管理<span class="caret"></span></a>-->
<!--            <ul>-->
<!--                <li><a link_url="include/fore/homePages/scheduleManage/doList/travelPlan.html" onclick="showAtRight(this)">出差计划</a></li>-->
<!--                <li><a link_url="include/fore/homePages/scheduleManage/doList/visitRecord.html" onclick="showAtRight(this)">拜访记录</a></li>-->
<!--                <li><a link_url="include/fore/homePages/scheduleManage/doList/eventTrack.html" onclick="showAtRight(this)">跟踪</a></li>-->
<!--            </ul>-->
<!--        </li>-->
        <li><a><span class="icon color14"><i class="fa fa-paper-plane-o"></i></span>客户管理<span class="caret"></span></a>
            <ul>
                <li><a href="foreCustomerManage">客户</a></li>
                <li><a href="forePool">公海池</a></li>
                <li><a href="foreContractManage">联系人管理</a></li>
                <li><a href="foreAddressManage">地址管理</a></li>
            </ul>
        </li>
        <li><a ><span class="icon color11"><i class="fa fa-diamond"></i></span>商机管理<span class="caret"></span></a>
            <ul class="sidebar-panel-3 ull">
                <li><a>商机/线索<span class="caret"></span></a>
                    <ul  style="width: 270px;">
                        <li><a href="foreAddOpportunity">商机/线索新增</a></li>
                        <li><a href="foreUpdateOpportunity">商机/线索更新</a></li>
                    </ul>
                </li>
                <li><a href="foreMarketingOnline">商机活动</a></li>
                <li><a href="foreMarketSpend">营销费用</a></li>

            </ul>
        </li>
        <li shiro:hasPermission="followSalePlan"><a><span class="icon color15"><i class="fa fa-columns"></i></span>销售过程<span class="caret"></span></a>
            <ul class="sidebar-panel-3 ull">
                <li><a href="foreArrangeSale">销售排程</a></li>
                <li><a href="foreIntroduce">介绍交流</a></li>
                <li><a href="foreSecret">保密协议签订</a></li>
                <li><a href="foreSurveyOnline">线上尽调</a></li>
                <li><a href="foreSurveyOffline">现场尽调</a></li>
                <li><a href="foreScheme">方案交流</a></li>
                <li><a href="foreContractPrevious">合同交流</a></li>
                <li><a href="foreContractLater">合同签订</a></li>
            </ul>
        </li>

        <li><a><span class="icon color8"><i class="fa falist fa-file-o"></i></span>合同管理<span class="caret"></span></a>
            <ul>
                <li><a href="foreContractSum">合同查询</a></li>
                <li shiro:hasPermission="fileConclude"><a href="foreAddFile">合同归档新增</a></li>
                <li shiro:hasPermission="fileConclude"><a href="foreExtraFile">补充合同新增</a></li>
            </ul>
        </li>

        <li><a><span class="icon color8"><i class="fa fa-check-circle-o"></i></span>运营服务<span class="caret"></span></a>
            <ul>
                <li shiro:hasPermission="arrangePlan"><a href="foreSchedule">计划排程</a></li>
                <li shiro:hasPermission="operate"><a href="foreOperate">运营导入</a></li>
                <li shiro:hasPermission="technicalService"><a href="foreTechnicalService">技术服务</a></li>
                <li shiro:hasPermission="report"><a href="foreMonthlyReport">月度汇报</a></li>
                <li shiro:hasPermission="writeSatisfaction"><a href="foreSatisfaction">满意度调查</a></li>
            </ul>
        </li>



        <li><a><span class="icon color8"><i class="fa fa-bar-chart"></i></span>报表管理<span class="caret"></span></a>
            <ul class="sidebar-panel-3 ull">
                <li><a href="foreCustomerInfo">客户信息查询</a></li>
<!--                <li><a>销售报表 <span class="caret"></span></a>-->
<!--                    <ul style="width:270px;">-->
<!--                        <li><a>销售完成分析</a></li>-->
<!--                        <li><a>竞争对手分析</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li><a>服务追踪 <span class="caret"></span></a>-->
<!--                    <ul style="width:270px;">-->
<!--                        <li><a>服务收入</a></li>-->
<!--                        <li><a>外派员工</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
            </ul>
        </li>

        <li shiro:hasPermission="setting"><a><span class="icon color12"><i class="fa fa-file-text-o"></i></span>系统配置<span class="caret"></span></a>
            <ul>
                <li><a href="foreAccountInner">账号新增</a></li>
                <li><a href="foreAllRoles">角色功能</a></li>
                <li><a href="foreAllArea">地区配置</a></li>
            </ul>
        </li>

    </ul>


</div>
