<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>销售过程——合同交流</title>
<head th:include="include/fore/newHeader::html" ></head>
<body>
<div id="workingArea">
    <div th:replace="include/fore/top::html" ></div>
    <div th:replace="include/fore/leftMenu::html" ></div>
    <div th:replace="include/fore/homePages/saleProcessManage/contractFile/contractPreviousPage::html" ></div>
</div>
<script>
    $(function () {
        judgeFunc();
        loadFirstPlan();
        getAllSaleMan();
    })

    function judgeFunc() {
        $.ajax({
            type:"post",
            url:"getSaleRole",
            async:false,
            success:function (data) {
                $("#funcInput").val(data);
            }
        })
    }

    function loadFirstPlan() {
        var role = $("#funcInput").val();
        if(role == "0"){
            var status = "sixth";
            $.ajax({
                type:"post",
                data:{"status":status},
                url:"findCanOperateAndOperated",
                async:false,
                success:function (data) {
                    var list1 = data.list1;
                    $("#allFirst").html("");
                    $("#customer").html("");
                    $("#customer").append("<option value='0'>"+"--请选择--"+"</option>");
                    $("#customer2").html("");
                    $("#customer2").append("<option value='0'>"+"--请选择--"+"</option>");
                    for(var i = 0 ; i < list1.length ; i++){
                        $("#allFirst").append("<tr>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].id+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].customerName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].describe+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].deadline+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].principalName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"<a href='#' data-toggle=\"modal\" data-target=\"#myModal2\" onclick=\"getRowId(this)\">初步合同</a>"+
                            // "<a href='#' style=\"margin-left: 10px;\" onclick=\"giveup(this)\">挂起</a>"+
                            "</td>"
                            +"</tr>");

                        $("#customer").append('<option value="'+list1[i].customerCode+'">'+list1[i].customerName+"</option>");
                        $("#customer2").append('<option value="'+list1[i].customerCode+'">'+list1[i].customerName+"</option>");
                    }
                    var list2 = data.list2;
                    $("#allSecond").html("");
                    for(var i = 0 ; i < list2.length ; i++){
                        $("#allSecond").append("<tr>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].id+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].customerName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].describe+"</td>"+
                            // "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].deadline+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].principalName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"<a href='#' data-toggle=\"modal\" data-target=\"#myModal5\" onclick='getContractHistory(this)'>查看</a>"+
                            // "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"<a href='#' data-toggle=\"modal\" data-target=\"#myModal2\" onclick=\"getRowId(this)\">初步合同</a>"+
                            // "<a href='#' style=\"margin-left: 10px;\" onclick=\"giveup(this)\">挂起</a>"+
                            "</td>"
                            +"</tr>");
                    }
                }
            })
        }else{
            var status = "sixth";
            $.ajax({
                type:"post",
                data:{"status":status},
                url:"findCanOperateAndOperatedByAdmin",
                async:false,
                success:function (data) {
                    var list1 = data.list1;
                    $("#allFirst").html("");
                    $("#customer").html("");
                    $("#customer").append("<option value='0'>"+"--请选择--"+"</option>");
                    $("#customer2").html("");
                    $("#customer2").append("<option value='0'>"+"--请选择--"+"</option>");
                    for(var i = 0 ; i < list1.length ; i++){
                        $("#allFirst").append("<tr>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].id+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].customerName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].describe+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].deadline+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].principalName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"<a href='#' data-toggle=\"modal\" data-target=\"#myModal2\" onclick=\"getRowId(this)\">初步合同</a>"+
                            // "<a href='#' style=\"margin-left: 10px;\" onclick=\"giveup(this)\">挂起</a>"+
                            "</td>"
                            +"</tr>");

                        $("#customer").append('<option value="'+list1[i].customerCode+'">'+list1[i].customerName+"</option>");
                        $("#customer2").append('<option value="'+list1[i].customerCode+'">'+list1[i].customerName+"</option>");
                    }
                    var trs = document.getElementById("firstData").rows;
                    for(var i = 0 ; i < trs.length ; i++){
                        var cell = trs[i].cells[5];
                        cell.style.display = 'none';
                    }
                    var list2 = data.list2;
                    $("#allSecond").html("");
                    for(var i = 0 ; i < list2.length ; i++){
                        $("#allSecond").append("<tr>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].id+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].customerName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].describe+"</td>"+
                            // "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].deadline+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].principalName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"<a href='#' data-toggle=\"modal\" data-target=\"#myModal5\" onclick='getContractHistory(this)'>查看</a>"+
                            // "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"<a href='#' data-toggle=\"modal\" data-target=\"#myModal2\" onclick=\"getRowId(this)\">初步合同</a>"+
                            // "<a href='#' style=\"margin-left: 10px;\" onclick=\"giveup(this)\">挂起</a>"+
                            "</td>"
                            +"</tr>");
                    }
                }
            })
        }

    }

    function getOneByCustomer() {
        var role = $("#funcInput").val();
        if(role == "0"){
            var customerName = $("#customerNameSearch").val();
            var status = "sixth";
            $.ajax({
                type:"post",
                data:{"customerName":customerName , "status":status},
                url:"findCanOperateByName",
                async:false,
                success:function (data) {
                    var list1 = data.list1;
                    $("#allFirst").html("");
                    for(var i = 0 ; i < list1.length ; i++){
                        $("#allFirst").append("<tr>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].id+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].customerName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].describe+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].deadline+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].principalName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"<a href='#' data-toggle=\"modal\" data-target=\"#myModal2\" onclick=\"getRowId(this)\">初步合同</a>"+
                            // "<a href='#' style=\"margin-left: 10px;\" onclick=\"giveup(this)\">挂起</a>"+
                            "</td>"
                            +"</tr>");
                    }
                    var list2 = data.list2;
                    $("#allSecond").html("");
                    for(var i = 0 ; i < list2.length ; i++){
                        $("#allSecond").append("<tr>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].id+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].customerName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].describe+"</td>"+
                            // "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].deadline+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].principalName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"<a href='#' data-toggle=\"modal\" data-target=\"#myModal5\" onclick='getContractHistory(this)'>查看</a>"+
                            // "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"<a href='#' data-toggle=\"modal\" data-target=\"#myModal2\" onclick=\"getRowId(this)\">初步合同</a>"+
                            // "<a href='#' style=\"margin-left: 10px;\" onclick=\"giveup(this)\">挂起</a>"+
                            "</td>"
                            +"</tr>");
                    }
                }
            })
        }else{
            var customerName = $("#customerNameSearch").val();
            var status = "sixth";
            $.ajax({
                type:"post",
                data:{"customerName":customerName , "status":status},
                url:"findCanOperateByNameAndAdmin",
                async:false,
                success:function (data) {
                    var list1 = data.list1;
                    $("#allFirst").html("");
                    for(var i = 0 ; i < list1.length ; i++){
                        $("#allFirst").append("<tr>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].id+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].customerName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].describe+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].deadline+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list1[i].principalName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"<a href='#' data-toggle=\"modal\" data-target=\"#myModal2\" onclick=\"getRowId(this)\">初步合同</a>"+
                            // "<a href='#' style=\"margin-left: 10px;\" onclick=\"giveup(this)\">挂起</a>"+
                            "</td>"
                            +"</tr>");
                    }
                    var trs = document.getElementById("firstData").rows;
                    for(var i = 0 ; i < trs.length ; i++){
                        var cell = trs[i].cells[5];
                        cell.style.display = 'none';
                    }
                    var list2 = data.list2;
                    $("#allSecond").html("");
                    for(var i = 0 ; i < list2.length ; i++){
                        $("#allSecond").append("<tr>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].id+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].customerName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].describe+"</td>"+
                            // "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].deadline+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+list2[i].principalName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"<a href='#' data-toggle=\"modal\" data-target=\"#myModal5\" onclick='getContractHistory(this)'>查看</a>"+
                            // "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"<a href='#' data-toggle=\"modal\" data-target=\"#myModal2\" onclick=\"getRowId(this)\">初步合同</a>"+
                            // "<a href='#' style=\"margin-left: 10px;\" onclick=\"giveup(this)\">挂起</a>"+
                            "</td>"
                            +"</tr>");
                    }
                }
            })
        }

    }

    function giveup(obj) {
        var i = obj.parentNode.parentNode.rowIndex;
        var tab = document.getElementById("firstData");
        var orderID = tab.rows[i].cells[0].innerHTML;
        var d = confirm("是否挂起"+orderID+"该销售订单");
        if(d == true){
            $.ajax({
                type:"post",
                data:{"salePlanID":orderID},
                url:"giveUpSalePlan",
                async:false,
                success:function (data) {
                    if(data == "OK"){
                        $.message({
                            message:"销售订单已挂起",
                            type:'success'
                        });
                        loadFirstPlan();
                    }else{
                        $.message({
                            message:data,
                            type:'error'
                        })
                    }
                }

            })
        }else{

        }
    }

    function getRowId(obj) {
        var i = obj.parentNode.parentNode.rowIndex;
        var tab = document.getElementById("firstData");
        var orderID = tab.rows[i].cells[0].innerHTML;
        var customerName = tab.rows[i].cells[1].innerHTML;
        $("#customerName").val(customerName);
        $("#customerID").val(orderID);
    }

    function saveContractFirstFile() {
        var orderID = $("#customerID").val();
        var name = $("#contractF").val();
        var picNames = name.split("\\");
        var le = picNames.length - 1;
        var targetFile = picNames[le];

        $.ajax({
            type:"post",
            data:{"salePlanID":orderID , "fileName":targetFile},
            url:"saveContractFirst",
            async:false,
            success:function (data) {
                if(data == "OK"){
                    $.message({
                        message:'初步合同已上传，请等待审批',
                        type:'success'
                    });
                    $("#myModal2").modal('hide');
                    cleanUpPage();
                }else{
                    $.message({
                        message:data,
                        type:'error'
                    })
                }
            }
        })
    }

    function saveImage() {
        $.ajaxFileUpload({
            type:"post",
            fileElementId:"contractF",
            url:"saveFirstContractFile",
            async:false,
            dataType:'text',
            success:function(data){
                if(data == "文件上传成功"){
                    // $.message({
                    //     message:'文件上传成功',
                    //     type:'success'
                    // });
                }else{
                    $.message({
                        message:data,
                        type:'error'
                    });
                }
            },
            error:function(){
                alert("设备类型文件上传出错");
            }
        })
    }

    function getAllSaleMan() {
        $.ajax({
            type:"post",
            url:"loadAllSaleMan",
            async:false,
            success:function (data) {
                $("#applyer").html("");
                $("#applyer").append("<option value='0'>"+"--请选择--"+"</option>");
                for(var i = 0 ; i < data.length ; i++){
                    $("#applyer").append('<option value="'+data[i].account+'">'+data[i].name+"</option>");
                }
            }
        })
    }

    function saveTravel() {
        var customerCode = $("#customer option:selected").val();
        var customerName = $("#customer option:selected").text();
        var applyAccount = $("#applyer option:selected").val();
        var applyName = $("#applyer option:selected").text();
        var travelDate = $("#travelDate").val();
        var travelTarget = $("#travelTarget").val();
        var supportPerson = $("#supportPerson").val();
        var spend = $("#spend").val();
        var costType = $("#costType option:selected").val();
        var costCenter = $("#costCenter").val();
        var other = $("#other").val();
        var processCode = "PC0006";
        var processName = "合同交流";
        var data = {"customerCode":customerCode , "customerName":customerName , "applyAccount":applyAccount , "applyName":applyName , "travelDate":travelDate , "travelTarget":travelTarget , "supportPerson":supportPerson , "spend":spend , "costType":costType , "costCenter":costCenter , "other":other , "processCode":processCode , "processName":processName};
        $.ajax({
            type:"post",
            data:data,
            url:"createTravel",
            async:false,
            success:function (data) {
                if(data == "OK"){
                    $.message({
                        message:"出差申请已提交,请等待审批",
                        type:'success'
                    });
                    $("#myModal").modal('hide');
                    cleanUpPage();
                }else{
                    $.message({
                        message:data,
                        type:'error'
                    })
                }
            },
        })
    }

    function saveTravelSum() {
        var customer = $("#customer2 option:selected").val();
        var travelSum = $("#travelSum").val();
        var needSupport = $("#needSupport").val();
        var trouble = $("#trouble").val();
        var oppose = $("#oppose").val();
        var nextPlan = $("#nextPlan").val();
        var travel = $("#travelCost").val();
        var eatting = $("#eattingCost").val();
        var server = $("#serverCost").val();
        var other = $("#otherCost").val();

        var name = $("#voucher").val();
        var picNames = name.split("\\");
        var le = picNames.length - 1;
        var targetFile = picNames[le];

        var processCode = "PC0006";

        var data = {"customer":customer , "travelSum":travelSum , "needSupport":needSupport , "trouble":trouble , "oppose":oppose , "nextPlan":nextPlan , "travelSpend":travel , "eatting":eatting , "server":server , "other":other , "fileName":targetFile , "processCode":processCode };
        $.ajax({
            type:"post",
            data:data,
            url:"saveTravelSum",
            async:false,
            success:function (data) {
                if(data == "OK"){
                    $.message({
                        message:'报销申请已提交,请等待审批',
                        type:'success'
                    });
                    $("#myModal4").modal('hide');
                    cleanUpPage();
                }else{
                    $.message({
                        message:data,
                        type:'error'
                    })
                }
            }
        })
    }

    function cleanUpPage() {
        $("#travelDate").val("");
        $("#travelTarget").val("");
        $("#supportPerson").val("");
        $("#spend").val("");
        $("#costCenter").val("");
        $("#other").val("");
        $("#travelSum").val("");
        $("#needSupport").val("");
        $("#trouble").val("");
        $("#oppose").val("");
        $("#nextPlan").val("");
        $("#travelCost").val("");
        $("#eattingCost").val("");
        $("#serverCost").val("");
        $("#otherCost").val("");
        $("#voucher").val("");
        $("#contractF").val("");
    }

    function getContractHistory(obj) {
        var salePlanID = obj.parentNode.parentNode.cells[0].innerText;
        $.ajax({
            type:"post",
            data:{"salePlanID":salePlanID},
            url:"getContractHistory",
            async:false,
            success:function (data) {
                $("#allContract").html("");
                for(var i = 0 ; i < data.length ; i++){
                    var no = i + 1;
                    $("#allContract").append("<tr>"
                        +"<td>"+no+"</td>"
                        +"<td>"+"<a href='downLoadContractF?filename="+data[i].firstFile+"'>"+data[i].firstFile+"</a>"+"</td>"
                        +"<td>"+"初步合同"+"</td>"
                        +"<td>"+data[i].firstMakeDate+"</td>"
                        +"</tr>")
                }
            }
        })
    }
</script>
<style>
    #mainContent{
        overflow:hidden;
        width:100%;
    }

    #myTabContent{
        width:calc(100% + 15px);/*使滚动条超出当前元素的父元素边界，而父元素设置了overflow为hidden，使溢出内容隐藏，即隐藏了滚动条*/
        height:550px;
        padding-right:15px;
        box-sizing:content-box;/*兼容ie，使盒模型为w3c盒模型*/
        overflow-y:scroll;/*控制能沿y轴滚动*/
    }
    #firstData{
        width:100%;
    }
    #secondData{
        width:100%;
    }
</style>
</body>
</html>
