<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>销售过程——保密协议签订</title>
<head th:include="include/fore/newHeader::html" ></head>
<body>
<div id="workingArea">
    <div th:replace="include/fore/top::html" ></div>
    <div th:replace="include/fore/leftMenu::html" ></div>
    <div th:replace="include/fore/homePages/saleProcessManage/contractFile/contractLaterPage::html" ></div>
</div>
<script>
    $(function () {
        loadFirstPlan();
        getAllSaleMan();
    });

    laydate.render({
        elem: '#travelDate' //指定元素
    });

    function loadFirstPlan() {
        var status = "seventh";
        $.ajax({
            type:"post",
            data:{"status":status},
            url:"findCanOperate",
            async:false,
            success:function (data) {
                $("#allFirst").html("");
                $("#customer").html("");
                $("#customer").append("<option value='0'>"+"--请选择--"+"</option>");
                $("#customer2").html("");
                $("#customer2").append("<option value='0'>"+"--请选择--"+"</option>");
                for(var i = 0 ; i < data.length ; i++){
                    $("#allFirst").append("<tr>"+
                        "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+data[i].id+"</td>"+
                        "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+data[i].customerName+"</td>"+
                        "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+data[i].describe+"</td>"+
                        "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+data[i].principalName+"</td>"+
                        "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"<a data-toggle=\"modal\" data-target=\"#myModal2\" onclick=\"getRowId(this)\">最终合同</a>"+
                        "<a style=\"margin-left: 10px;\" onclick=\"giveup(this)\">挂起</a>"+
                        "</td>"
                        +"</tr>");

                    $("#customer").append('<option value="'+data[i].customerCode+'">'+data[i].customerName+"</option>");
                    $("#customer2").append('<option value="'+data[i].customerCode+'">'+data[i].customerName+"</option>");
                }
            }
        })
    }

    function giveup(obj) {
        var i = obj.parentNode.parentNode.rowIndex;
        var tab = document.getElementById("firstData");
        var orderID = tab.rows[i].cells[0].innerHTML;
        var d = confirm("是否挂起"+orderID+"该销售订单");
        if(d == true){
            $.ajax({
                type:"post",
                data:{"salePlanID":orderID},
                url:"giveUpSalePlan",
                async:false,
                success:function (data) {
                    if(data == "OK"){
                        $.message({
                            message:"销售订单已挂起",
                            type:'success'
                        });
                        loadFirstPlan();
                    }else{
                        $.message({
                            message:data,
                            type:'error'
                        })
                    }
                }

            })
        }else{

        }
    }

    function getRowId(obj) {
        var i = obj.parentNode.parentNode.rowIndex;
        var tab = document.getElementById("firstData");
        var orderID = tab.rows[i].cells[0].innerHTML;
        var customerName = tab.rows[i].cells[1].innerHTML;
        $("#customerName2").val(customerName);
        $("#customerID").val(orderID);
    }

    function saveSecretFile() {
        var orderID = $("#customerID").val();
        var name = $("#contractS").val();
        var picNames = name.split("\\");
        var le = picNames.length - 1;
        var targetFile = picNames[le];
        var note = $("#note").val();

        $.ajax({
            type:"post",
            data:{"salePlanID":orderID , "fileName":targetFile , "note":note},
            url:"saveContractSecond",
            async:false,
            success:function (data) {
                if(data == "OK"){
                    $.message({
                        message:'最终合同已上传,请等待审批',
                        type:'success'
                    });
                    $("#myModal2").modal('hide');
                }else{
                    $.message({
                        message:data,
                        type:'error'
                    })
                }
            }
        })
    }

    function saveImage() {
        $.ajaxFileUpload({
            type:"post",
            fileElementId:"contractS",
            url:"saveSecondContractFile",
            async:false,
            dataType:'text',
            success:function(data){
                if(data == "文件上传成功"){
                    // $.message({
                    //     message:'文件上传成功',
                    //     type:'success'
                    // });
                }else{
                    $.message({
                        message:data,
                        type:'error'
                    });
                }
            },
            error:function(){
                alert("设备类型文件上传出错");
            }
        })
    }

    function getAllSaleMan() {
        $.ajax({
            type:"post",
            url:"loadAllSaleMan",
            async:false,
            success:function (data) {
                $("#applyer").html("");
                $("#applyer").append("<option value='0'>"+"--请选择--"+"</option>");
                for(var i = 0 ; i < data.length ; i++){
                    $("#applyer").append('<option value="'+data[i].account+'">'+data[i].name+"</option>");
                }
            }
        })
    }

    function saveTravel() {
        var customerCode = $("#customer option:selected").val();
        var customerName = $("#customer option:selected").text();
        var applyAccount = $("#applyer option:selected").val();
        var applyName = $("#applyer option:selected").text();
        var travelDate = $("#travelDate").val();
        var travelTarget = $("#travelTarget").val();
        var supportPerson = $("#supportPerson").val();
        var spend = $("#spend").val();
        var costType = $("#costType option:selected").val();
        var costCenter = $("#costCenter").val();
        var other = $("#other").val();
        var processCode = "PC0007";
        var processName = "合同签订";
        var data = {"customerCode":customerCode , "customerName":customerName , "applyAccount":applyAccount , "applyName":applyName , "travelDate":travelDate , "travelTarget":travelTarget , "supportPerson":supportPerson , "spend":spend , "costType":costType , "costCenter":costCenter , "other":other , "processCode":processCode , "processName":processName};
        $.ajax({
            type:"post",
            data:data,
            url:"createTravel",
            async:false,
            success:function (data) {
                if(data == "OK"){
                    $.message({
                        message:"出差申请已提交,请等待审批",
                        type:'success'
                    });
                    $("#myModal").modal('hide');
                }else{
                    $.message({
                        message:data,
                        type:'error'
                    })
                }
            },
        })
    }

    function saveTravelSum() {
        var customer = $("#customer2 option:selected").val();
        var travelSum = $("#travelSum").val();
        var needSupport = $("#needSupport").val();
        var trouble = $("#trouble").val();
        var oppose = $("#oppose").val();
        var nextPlan = $("#nextPlan").val();
        var travel = $("#travelCost").val();
        var eatting = $("#eattingCost").val();
        var server = $("#serverCost").val();
        var other = $("#otherCost").val();

        var name = $("#voucher").val();
        var picNames = name.split("\\");
        var le = picNames.length - 1;
        var targetFile = picNames[le];

        var processCode = "PC0007";

        var data = {"customer":customer , "travelSum":travelSum , "needSupport":needSupport , "trouble":trouble , "oppose":oppose , "nextPlan":nextPlan , "travelSpend":travel , "eatting":eatting , "server":server , "other":other , "fileName":targetFile , "processCode":processCode };
        $.ajax({
            type:"post",
            data:data,
            url:"saveTravelSum",
            async:false,
            success:function (data) {
                if(data == "OK"){
                    $.message({
                        message:'报销申请已提交,请等待审批',
                        type:'success'
                    });
                    $("#myModal4").modal('hide');
                }else{
                    $.message({
                        message:data,
                        type:'error'
                    })
                }
            }
        })
    }
</script>
</body>
</html>
