<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>销售过程——介绍交流</title>
<head th:include="include/fore/newHeader::html" ></head>
<body>
<div id="workingArea">
    <div th:replace="include/fore/top::html" ></div>
    <div th:replace="include/fore/leftMenu::html" ></div>
    <div th:replace="include/fore/homePages/saleProcessManage/saleIntroduce/introducePage::html" ></div>
</div>
<script>

    $(function () {
        loadFirstPlan();
        getAllSaleMan();
    });

    laydate.render({
        elem: '#travelDate' //指定元素
    });

    function loadFirstPlan() {
        var status = "first";
        $.ajax({
            type:"post",
            data:{"status":status},
            url:"findCanOperate",
            async:false,
            success:function (data) {
                $("#allFirst").html("");
                $("#customer").html("");
                $("#customer").append("<option value='0'>"+"--请选择--"+"</option>");
                $("#customer2").html("");
                $("#customer2").append("<option value='0'>"+"--请选择--"+"</option>");
                for(var i = 0 ; i < data.length ; i++){
                    $("#allFirst").append("<tr>"+
                    "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+data[i].id+"</td>"+
                    "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+data[i].customerName+"</td>"+
                    "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+data[i].describe+"</td>"+
                    "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+data[i].principalName+"</td>"+
                    "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"<a data-toggle=\"modal\" data-target=\"#myModal2\" onclick=\"getRowId(this)\">完善信息</a>"+"</td>"
                        +"</tr>");

                    $("#customer").append('<option value="'+data[i].customerCode+'">'+data[i].customerName+"</option>");
                    $("#customer2").append('<option value="'+data[i].customerCode+'">'+data[i].customerName+"</option>");

                }
            }
        })
    }

    function getAllSaleMan() {
        $.ajax({
            type:"post",
            url:"loadAllSaleMan",
            async:false,
            success:function (data) {
                $("#applyer").html("");
                $("#applyer").append("<option value='0'>"+"--请选择--"+"</option>");
                for(var i = 0 ; i < data.length ; i++){
                    $("#applyer").append('<option value="'+data[i].account+'">'+data[i].name+"</option>");
                }
            }
        })
    }

    function getRowId(obj) {
        var i = obj.parentNode.parentNode.rowIndex;
        var tab = document.getElementById("firstData");
        var orderID = tab.rows[i].cells[0].innerHTML;
        var customerName = tab.rows[i].cells[1].innerHTML;
        $("#customerName").val(customerName);
        $("#customerID").val(orderID);
    }
    
    function saveTravel() {
        var customerCode = $("#customer option:selected").val();
        var customerName = $("#customer option:selected").text();
        var applyAccount = $("#applyer option:selected").val();
        var applyName = $("#applyer option:selected").text();
        var travelDate = $("#travelDate").val();
        var travelTarget = $("#travelTarget").val();
        var supportPerson = $("#supportPerson").val();
        var spend = $("#spend").val();
        var costType = $("#costType option:selected").val();
        var costCenter = $("#costCenter").val();
        var other = $("#other").val();
        var processCode = "PC0001";
        var processName = "介绍交流";
        var data = {"customerCode":customerCode , "customerName":customerName , "applyAccount":applyAccount , "applyName":applyName , "travelDate":travelDate , "travelTarget":travelTarget , "supportPerson":supportPerson , "spend":spend , "costType":costType , "costCenter":costCenter , "other":other , "processCode":processCode , "processName":processName};
        $.ajax({
            type:"post",
            data:data,
            url:"createTravel",
            async:false,
            success:function (data) {
                if(data == "OK"){
                    $.message({
                        message:"出差申请已提交",
                        type:'success'
                    })
                }else{
                    $.message({
                        message:data,
                        type:'error'
                    })
                }
            },
        })
    }

    function saveTravelSum() {
        var customer = $("#customer2 option:selected").val();
        var travelSum = $("#travelSum").val();
        var needSupport = $("#needSupport").val();
        var trouble = $("#trouble").val();
        var oppose = $("#oppose").val();
        var nextPlan = $("#nextPlan").val();
        var travel = $("#travelCost").val();
        var eatting = $("#eattingCost").val();
        var server = $("#serverCost").val();
        var other = $("#otherCost").val();

        var name = $("#voucher").val();
        var picNames = name.split("\\");
        var le = picNames.length - 1;
        var targetFile = picNames[le];

        var processCode = "PC0001";

        var data = {"customer":customer , "travelSum":travelSum , "needSupport":needSupport , "trouble":trouble , "oppose":oppose , "nextPlan":nextPlan , "travelSpend":travel , "eatting":eatting , "server":server , "other":other , "fileName":targetFile , "processCode":processCode };
        $.ajax({
            type:"post",
            data:data,
            url:"saveTravelSum",
            async:false,
            success:function (data) {
                if(data == "OK"){
                    $.message({
                        message:'已提交',
                        type:'success'
                    })
                }else{
                    $.message({
                        message:data,
                        type:'error'
                    })
                }
            }
        })
    }

    function saveImage() {
        $.ajaxFileUpload({
            type:"post",
            fileElementId:"voucher",
            url:"saveVoucher",
            async:false,
            dataType:'text',
            success:function(data){
                if(data == "文件上传成功"){
                    $.message({
                        message:'文件上传成功',
                        type:'success'
                    });
                }else{
                    $.message({
                        message:data,
                        type:'error'
                    });
                }
            },
            error:function(){
                alert("设备类型文件上传出错");
            }
        })
    }

    function saveIntroduce() {
        var salePlanID = $("#customerID").val();
        var address = $("#address").val();
        var condition = $("#condition").val();
        var nature = $("#nature").val();
        var product = $("#product").val();
        var competitor = $("#competitor").val();
        var useAmount = $("#useAmount").val();
        var contract = $("#contract").val();
        var phone = $("#phone").val();
        var email = $("#email").val();
        var wechat = $("#wechat").val();
        var sex = $("#sex").val();
        var position = $("#position").val();
        var hobby = $("#hobby").val();
        var relation = $("#relation").val();
        var birthday = $("#birthday").val();

        var data = {"salePlanID":salePlanID , "address":address , "condition":condition , "bussinessNature":nature , "product":product , "competitor":competitor , "useAmount":useAmount , "contract":contract , "phone":phone , "email":email , "wechat":wechat ,
        "sex":sex , "position":position , "hobby":hobby , "relation":relation , "birthday":birthday};

        $.ajax({
            type:"post",
            data:data,
            url:"saveIntroduceTask",
            async:false,
            success:function (data) {
                if(data == "OK"){
                    $.message({
                        message:"客户信息已保存",
                        type:'success'
                    });
                    loadFirstPlan();
                }else{
                    $.message({
                        message:data,
                        type:'error'
                    })
                }
            }
        })
    }

</script>
</body>
</html>
