<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>公海池</title>
<head th:include="include/fore/newHeader::html" ></head>
<body>
<div id="workingArea">
    <div th:replace="include/fore/top::html" ></div>
    <div th:replace="include/fore/leftMenu::html" ></div>
    <div th:replace="include/fore/homePages/customerManage/customerMaintain/poolPage::html" ></div>
</div>

<script>

    var customerStartPool = 1;
    var customerPagesPool = 0;

    $(function () {
        loadAllCustomerPool();
        changeHeight();
    });

    function changeHeight() {
        var totalHeight = document.getElementById("mainData").offsetHeight;
        if(totalHeight > 776){
            // var height = totalHeight -60;
            // // $("#allContent").css('height' , totalHeight);
            // $("#leftMenu").css('height' , height);

            $("#mainContent").css('height' , 'auto');
            $("#leftMenu").css('height' , 'auto');
        }else{
            $("#mainContent").css('height' , 653+'px');
            $("#leftMenu").css('height' , 716+'px')
        }
    }

    function loadAllCustomerPool() {
        customerStartPool = 1;
        $.ajax({
            type:"post",
            data:{"start":customerStartPool},
            url:"selectCustomerByPageAndCondition",
            async:false,
            success:function (data) {
                $("#customerPool").html("");
                customerPagesPool = data.pages;
                var customers = data.customers;
                var role = data.role;
                if(role == 1){
                    for(var i = 0 ; i < customers.length ; i++){
                        $("#customerPool").append("<tr>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+'<input name="choose" type="checkbox" value="'+i+'">'+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].id+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].name+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].customerType+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].area+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].principal+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].phone+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].followName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"<button class='btn btn-warning' onclick='followSalePlan(this)'>跟进</button>"+"</td>"+"</tr>");
                    }
                }else{
                    for(var i = 0 ; i < customers.length ; i++){
                        $("#customerPool").append("<tr>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+'<input name="choose" type="checkbox" value="'+i+'">'+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].id+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].name+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].customerType+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].area+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].principal+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].phone+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].followName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"</td>"+"</tr>");
                    }
                }

                $("#poolPage").show();
                changeHeight();
            },
            error:function () {
                $.message({
                    message:'程序出错',
                    type:'error'
                })
            }
        })
    }

    function loadAllCustomerPoolPrevious() {
        if(customerStartPool > 1){
            customerStartPool = customerStartPool - 1;
            $.ajax({
                type:"post",
                data:{"start":customerStartPool},
                url:"selectCustomerByPageAndCondition",
                async:false,
                success:function (data) {
                    $("#customerPool").html("");
                    customerPagesPool = data.pages;
                    var customers = data.customers;
                    for(var i = 0 ; i < customers.length ; i++){
                        $("#customerPool").append("<tr>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+'<input name="choose" type="checkbox" value="'+i+'">'+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].id+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].name+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].customerType+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].area+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].principal+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].phone+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].followName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"<button class='btn btn-warning' onclick='followSalePlan(this)'>跟进</button>"+"</td>"+"</tr>");
                    }
                    $("#poolPage").show();
                    changeHeight();
                },
                error:function () {
                    $.message({
                        message:'程序出错',
                        type:'error'
                    })
                }
            })
        }

    }

    function loadAllCustomerPoolNext() {
        if(customerStartPool < customerPagesPool){
            customerStartPool = customerStartPool + 1;
            $.ajax({
                type:"post",
                data:{"start":customerStartPool},
                url:"selectCustomerByPageAndCondition",
                async:false,
                success:function (data) {
                    $("#customerPool").html("");
                    customerPagesPool = data.pages;
                    var customers = data.customers;
                    for(var i = 0 ; i < customers.length ; i++){
                        $("#customerPool").append("<tr>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+'<input name="choose" type="checkbox" value="'+i+'">'+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].id+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].name+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].customerType+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].area+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].principal+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].phone+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].followName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"<button class='btn btn-warning' onclick='followSalePlan(this)'>跟进</button>"+"</td>"+"</tr>");
                    }
                    $("#poolPage").show();
                    changeHeight();
                },
                error:function () {
                    $.message({
                        message:'程序出错',
                        type:'error'
                    })
                }
            })
        }

    }

    function loadAllCustomerPoolLast() {
            customerStartPool = customerPagesPool;
            $.ajax({
                type:"post",
                data:{"start":customerStartPool},
                url:"selectCustomerByPageAndCondition",
                async:false,
                success:function (data) {
                    $("#customerPool").html("");
                    customerPagesPool = data.pages;
                    var customers = data.customers;
                    for(var i = 0 ; i < customers.length ; i++){
                        $("#customerPool").append("<tr>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+'<input name="choose" type="checkbox" value="'+i+'">'+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].id+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].name+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].customerType+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].area+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].principal+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].phone+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+customers[i].followName+"</td>"+
                            "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"<button class='btn btn-warning' onclick='followSalePlan(this)'>跟进</button>"+"</td>"+"</tr>");
                    }
                    $("#poolPage").show();
                    changeHeight();
                },
                error:function () {
                    $.message({
                        message:'程序出错',
                        type:'error'
                    })
                }
            })
    }

    function loadAllCustomerPoolByName() {
        var customerName = $("#poolSearch").val();
        $.ajax({
            type:"post",
            data:{"customerName":customerName},
            url:"findByCistomerName",
            async:false,
            success:function (data) {
                $("#customerPool").html("");
                for(var i = 0 ; i < data.length ; i++){
                    $("#customerPool").append("<tr>"+
                        "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+'<input name="choose" type="checkbox" value="'+i+'">'+"</td>"+
                        "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+data[i].id+"</td>"+
                        "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+data[i].name+"</td>"+
                        "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+data[i].customerType+"</td>"+
                        "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+data[i].area+"</td>"+
                        "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+data[i].principal+"</td>"+
                        "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+data[i].phone+"</td>"+
                        "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+data[i].followName+"</td>"+
                        "<td style=\"font-size: 14px;text-align: left;vertical-align: inherit;\">"+"<button class='btn btn-warning' onclick='followSalePlan(this)'>跟进</button>"+"</td>"+"</tr>");
                }
                $("#poolPage").hide();
                changeHeight();
            },
            error:function () {
                $.message({
                    message:'程序出错',
                    type:'error'
                })
            }
        })
    }

    $(function() {
        $("#chooseAll").click(function() {
            $(":checkbox[name='choose']").prop("checked", this.checked); // this指代的你当前选择的这个元素的JS对象
        });
    });

    function chooseCustomer() {
        var account = $("#saleMenAccount").val();
        var obj = document.getElementsByName("choose");
        var check_val = [];
        for (k in obj) {
            if (obj[k].checked)
                check_val.push(obj[k].value);
        }
        if(check_val.length == 0){
            // alert("请选择客户");
            $.message({
                message:"请选择客户",
                type:"success"
            });
        }else{
            var IDs = "";
            for(var i = 0 ; i < check_val.length ; i++){
                var target = parseInt(check_val[i]);
                var customerID = document .getElementById ("customerPool").rows [target].cells[1].innerHTML;
                if(i == 0){
                    IDs = IDs+customerID;
                }else{
                    IDs = IDs+","+customerID;
                }
            }

            $.ajax({
                type:"post",
                data:{"ids":IDs , "account":account},
                url:"arrangeCustomer",
                async:false,
                success:function (data) {
                    if(data == "分配成功"){
                        $.message({
                            message:"客户分配成功",
                            type:'success'
                        })
                    }else{
                        $.message({
                            message:data,
                            type:'error'
                        })
                    }
                    loadAllCustomerPool();
                }
            })
        }
    }

    function followSalePlan(obj) {
        var orderID =  obj.parentNode.parentNode.cells[1].innerText;
        $.ajax({
            type:"post",
            data:{"salePlanID":orderID},
            url:"followSalePlan",
            async:false,
            success:function (data) {
                if(data == "OK"){
                    $.message({
                        message:'已跟进该客户',
                        type:'success'
                    });
                    loadAllCustomerPool();
                }else{
                    $.message({
                        message:data,
                        type:'error'
                    });
                }
            }
        })
    }

    function dropCustomer() {
        var obj = document.getElementsByName("choose");
        var check_val = [];
        for (k in obj) {
            if (obj[k].checked)
                check_val.push(obj[k].value);
        }


        if(check_val.length == 0){
            // alert("请选择客户");
            $.message({
                message:"请选择客户",
                type:"success"
            });
        }else{
            var customers = new Array();
            for(var i = 0 ; i < check_val.length ; i++){
                var target = parseInt(check_val[i]);
                var customerID = document .getElementById ("customerPool").rows [target].cells[1].innerHTML;
                customers.push(customerID);
            }
            $.ajax({
                type:"post",
                data:{"customerIDs":customers},
                url:"deleteCustomer",
                async:false,
                traditional: true,
                success:function (data) {
                    if(data == "OK"){
                        $.message({
                            message:"客户已删除",
                            type:"success"
                        });
                        loadAllCustomerPool();
                    }else{
                        $.message({
                            message:data,
                            type:"error"
                        });
                    }
                }
            })
        }
    }

    function getAllSaleMen() {
        $("#myModal").modal('show');
        $.ajax({
            type:"post",
            url:"loadAllSaleMan",
            async:false,
            success:function (data) {
                $("#allSalesMan").html("");
                for(var i = 0 ; i < data.length ; i++){
                    $("#allSalesMan").append("<tr>"
                        +"<td>"+data[i].account+"</td>"
                        +"<td>"+data[i].name+"</td>"
                        +"<td>"+"<a href='#' onclick='chooseSaleMan(this)'>"+"选择"+"</a>"+"</td>"
                        +"</tr>");
                }
            }
        })
    }

    function chooseSaleMan(obj) {
        var account = obj.parentNode.parentNode.cells[0].innerText;
        var name = obj.parentNode.parentNode.cells[1].innerText;
        $("#saleMenAccount").val(account);
        $("#saleMen").val(name);
        $("#myModal").modal('hide');
    }

    function selectSaleMan() {
        var condition = $("#saleManCondition").val();
        $.ajax({
            type:"post",
            data:{"condition":condition},
            url:"selectSaleManByCondition",
            async:false,
            success:function (data) {
                $("#allSalesMan").html("");
                for(var i = 0 ; i < data.length ; i++){
                    $("#allSalesMan").append("<tr>"
                        +"<td>"+data[i].account+"</td>"
                        +"<td>"+data[i].name+"</td>"
                        +"<td>"+"<a href='#' onclick='chooseSaleMan(this)'>"+"选择"+"</a>"+"</td>"
                        +"</tr>");
                }
            }
        })
    }
</script>
</body>
</html>
